@font-face {
    font-family: myFirstFont;
    src: url(../fonts/HelveticaNeueCyr-Light.otf );
}
html{
	font-family: myFirstFont, sans-serif;
	height: 100%;

}
body{
	height: 100%;
	width: 100%;
	background: url(../img/background.png);
	background-size:cover;
}
/*HEADER*/
header{
	line-height: 36px;
	background: url(../img/header.png);
	height: 36px;
	overflow: hidden;
	font-size: 14px;
}
.header_links{
	float: right;
}
.header_links li{
	display: inline;
}
.header_links li a{
	display: inline-block;
	text-decoration: none;
	color: #60b5ed;
	height: 36px;
	padding: 0 13px;
}
.header_links li a:hover{
	background: #4eabda;
	color: #fff;
}
.flag{
	margin: 2px 0 3px;
	display: block;
	line-height: 31px;
	float: right;
	color: #fff;
	border-left: 1px solid #56a2dc;
	padding: 0 18px;
}
.flag img{
	vertical-align: middle;
}
.flag a{
	text-decoration: none;
	color: #fff;
}
.logreg{
	float: right;
	color: #fff;
	padding: 0 12px;
	margin-right: 20px;
	background-image: url(../img/logreg_gradient.png);
	background-size:cover;
}
.logreg a{
	color: #fff;
}

/*PAGE*/

.page{
	width: 100%;
	height: 100%;
}

/*FORM*/

.forma{
	width: 600px;
	height: 640px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-260px 0 0 -300px;
	/*padding-bottom: 200px;*/
}
h1{
	display: block;
	text-align: center;
	line-height: 62px;
	font-size: 24px;
	color: #fff;
	width: 600px;
	/*margin-top: 220px;*/
	/*margin: 0 auto;*/
	background: rgba(0,0,0,0.5);
}
.content{
	display: block;
	text-align: center;
	background: rgba(0,0,0,0.5);
	width: 100%;
	margin-top: 2px;
	padding-bottom: 22px;
}
form{
	width: 275px;
	margin: 0 auto;
	padding: 36px 0 0;
}
#facebook{
	height: 35px;
	width: 275px;
	background: url(../img/facebook.png);
	border: none;
}
#facebook:hover{
	-webkit-box-shadow: 0px 0px 5px 3px rgba(75,134,174,0.3);
	-moz-box-shadow: 0px 0px 5px 3px rgba(75,134,174,0.3);
	box-shadow: 0px 0px 5px 3px rgba(75,134,174,0.3);
}
#facebook:active{
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.5);
}
.lala{
	position: relative;
	overflow: hidden;
	margin: 32px 0 30px;
}
.empty_box1{
	border-top: 1px solid #666666;
	border-bottom: 1px solid black;
	width: 123px;
	float: left;
	margin-top: 5px;
}
.ou{
	font-size: 14px;
	width: 30px;
	float: left;
	color: #838482;
}
.empty_box2{
	border-top: 1px solid #666666;
	border-bottom: 1px solid black;
	width: 122px;
	float: left;
	margin-top: 5px;
}
.input_box{
	display: inline-block;
	line-height: 35px;
	margin-bottom:19px; 
	width: 255px;
	padding-left: 18px;
	background: url(../img/input-gradient.png);
	background-size: contain;
	color: #fff;
	font-size: 14px;
	border: none;
	border-bottom: 1px solid #484948;
}
.input_box:focus{
	background: #1b5288;
	box-shadow: 0 0 6px rgba(0,0,0,0.3) inset; 
	box-shadow: 0px 0px 10px 5px rgba(104,155,204,1);
	outline: none;
}
.content p{
	color: #b7b6b4;
}

/*BUTTON*/

button{
	margin: 25px 0 22px;
	width: 150px;
	line-height: 32px;
	color: #fff;
	border: 1px solid #59a3de;
	border-radius: 2px;
	background: #51b0db;
	font-size: 14px;
	background: -moz-linear-gradient(top, #51b0db 0%, #2e78c2 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #51b0db), color-stop(100%, #2e78c2));
	background: -webkit-linear-gradient(top, #51b0db 0%, #2e78c2 100%);
	background: -o-linear-gradient(top, #51b0db 0%, #2e78c2 100%);
	background: -ms-linear-gradient(top, #51b0db 0%, #2e78c2 100%);
	background: linear-gradient(to bottom, #51b0db 0%, #2e78c2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0db', endColorstr='#2e78c2', GradientType=0 );
}
button:hover{
	background: #2e79c4;
	background: -moz-linear-gradient(top, #2e79c4 0%, #67c6e6 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #2e79c4), color-stop(100%, #67c6e6));
	background: -webkit-linear-gradient(top, #2e79c4 0%, #67c6e6 100%);
	background: -o-linear-gradient(top, #2e79c4 0%, #67c6e6 100%);
	background: -ms-linear-gradient(top, #2e79c4 0%, #67c6e6 100%);
	background: linear-gradient(to bottom, #2e79c4 0%, #67c6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e79c4', endColorstr='#67c6e6', GradientType=0 );
}
button:active{
	-webkit-box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);
	box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);
}
.privacy{
	text-align: center;
	color: #b7b6b4;
	font-size: 11px;
}